* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #444;
	background-color: transparent;
}
body {
	background-color: #fff;
	font-family: sans-serif;
}

#header {
	background-color: #333;
	padding: 16px 24px;
	box-shadow: 0 2px 4px #999;
	width: 100%;
	height: 48px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#header h1, #header h2 {
	font-weight: normal;
	color: #fcfcfc;
}
#header h1 {
	font-size: 24px;
	letter-spacing: 1px;
}
#header h2 {
	font-size: 16px;
	letter-spacing: 1px;
}

#venues, #wifis {
	width: 100%;
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 1;
}
#venues {
	list-style: none;
}
#venues li {
	padding: 10px 24px;
	border-bottom: 1px solid #ccc;
}
#venues li:hover {
	background-color: #ffd;
} 
#venues li h3 {
	font-weight: normal;
	font-size: 16px;
	color: #333;
}
#venues li p {
	font-size: 13px;
	color: #999;
}
#venues > p, #wifis > p {
	text-align: center;
	margin: 24px;
	font-size: 14px;
}
#venues > p a, #wifis > p a  {
	text-decoration: none;
	color: #fcfcfc;
	background-color: #369;
	padding: 16px 120px;
	border-radius: 4px;
	text-transform: uppercase;
}
#venues > p a:hover, #wifis > p a:hover {
	text-decoration: none;
	background-color: #69c;
}

#wifis dt, #wifis dl {
	text-align: center;
	font-size: 24px;
}
#wifis dt{
	padding: 24px 24px 12px 24px;
}
#wifis dd {
	padding: 12px 24px 24px 24px;	
	border-bottom: 1px solid #ccc;	
}

#add {
	width: 100%;
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 1;
}
#add form {
	padding: 16px 24px;
	text-align: center;
	margin-bottom: 120px;	
}
#add form p {
	font-size: 16px;
	padding: 16px 0;
}
#add form input {
	font-size: 24px;
	text-align: center;
	margin-top: 16px;
	padding: 8px;
	background-color: #ffc;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #ccc inset;
	border-radius: 4px;
}
#action p {
	text-align: center;
	margin: 24px;
	font-size: 14px;
}
#action p a {
	text-decoration: none;
	color: #fcfcfc;
	background-color: #369;
	padding: 16px 120px;
	border-radius: 4px;
	text-transform: uppercase;
}
#action p a.cancel {
	display: block;		
	text-decoration: underline;
	color: #f33;
	background-color: transparent;
	padding: 26px;
}
#action p a:hover {
	text-decoration: none;
	background-color: #69c;
}
#action p a.cancel:hover {
	text-decoration: underline;
	background-color: transparent;
}
